<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weds.edmj.mapper.GateLevelRealMapper">
  <resultMap id="BaseResultMap" type="com.weds.edmj.entity.GateLevelRealEntity">
    <id column="xh" jdbcType="INTEGER" property="xh" />
    <result column="Gate_bh" jdbcType="CHAR" property="gateBh" />
    <result column="FX" jdbcType="INTEGER" property="fx" />
    <result column="lx" jdbcType="INTEGER" property="lx" />
    <result column="dep_serial" jdbcType="INTEGER" property="depSerial" />
    <result column="rule_no" jdbcType="INTEGER" property="ruleNo" />
    <result column="sj" jdbcType="TIMESTAMP" property="sj" />
    <result column="gly_no" jdbcType="NVARCHAR" property="glyNo" />
    <result column="role_code" jdbcType="VARCHAR" property="roleCode" />
    <result column="dep_name" jdbcType="VARCHAR" property="depName" />
    <result column="rule_name" jdbcType="VARCHAR" property="ruleName" />
    <result column="door_name" jdbcType="VARCHAR" property="doorName" />
  </resultMap>
  <sql id="Base_Column_List">
    xh, Gate_bh, FX, lx, dep_serial, rule_no, sj, gly_no, role_code
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from MJ_GATE_LEVEL_REAL
    where xh = #{xh,jdbcType=INTEGER}
  </select>
  <select id="selectDepByGateUser" parameterType="com.weds.edmj.entity.MjUserRuleRealEntity" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from MJ_GATE_LEVEL_REAL
    MJ_GATE_LEVEL_REAL where lx=1 and fx=0 and Gate_bh=#{gateBh}
    and dep_serial =(select user_dep from dt_user where user_serial=#{userSerial})
  </select>
  <select id="selectPublicByGateUser" parameterType="com.weds.edmj.entity.MjUserRuleRealEntity" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from MJ_GATE_LEVEL_REAL
    where lx=0 and fx=0 and Gate_bh=#{gateBh}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from MJ_GATE_LEVEL_REAL
    where xh = #{xh,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByGateList" parameterType="com.weds.edmj.entity.GateLevelRealEntity">
    delete from MJ_GATE_LEVEL_REAL
    <where>
      <if test="lx==0">
        and (lx=0 or lx=1 or lx=2)
      </if>
      <if test="lx==1">
        and (lx=0 or lx=2)
      </if>
      <if test="lx==2">
        and (lx=0 or lx=1)
      </if>
      <choose>
        <when test="gateList != null and gateList.size() != 0">
          and gate_bh in
          <foreach collection="gateList" close=")" open="(" separator="," item="item">
            #{item, jdbcType=INTEGER}
          </foreach>
        </when>
        <otherwise>
          and 1=2
        </otherwise>
      </choose>
    </where>
  </delete>
  <delete id="deleteByGateListAndDep" parameterType="com.weds.edmj.entity.GateLevelRealEntity">
    delete from MJ_GATE_LEVEL_REAL
    <where>
      <if test="lx==1">
        and lx=1
      </if>
      <if test="lx==2">
        and lx=2
      </if>
      <if test="gateList != null and gateList.size() != 0">
        and gate_bh in
        <foreach collection="gateList" close=")" open="(" separator="," item="item">
          #{item, jdbcType=INTEGER}
        </foreach>
      </if>
      <if test="departmentList != null and departmentList.size() != 0">
        and dep_serial in
        <foreach collection="departmentList" close=")" open="(" separator="," item="item">
          #{item, jdbcType=INTEGER}
        </foreach>
      </if>
      <if test="roleList != null and roleList.size() != 0">
        and role_code in
        <foreach collection="roleList" close=")" open="(" separator="," item="item">
          #{item, jdbcType=INTEGER}
        </foreach>
      </if>
    </where>
  </delete>
  <insert id="insert" parameterType="com.weds.edmj.entity.GateLevelRealEntity">
    insert into MJ_GATE_LEVEL_REAL (xh, Gate_bh, FX, 
      lx, dep_serial, rule_no, 
      sj, gly_no, role_code
      )
    values (#{xh,jdbcType=INTEGER}, #{gateBh,jdbcType=CHAR}, #{fx,jdbcType=INTEGER}, 
      #{lx,jdbcType=INTEGER}, #{depSerial,jdbcType=INTEGER}, #{ruleNo,jdbcType=INTEGER}, 
      #{sj,jdbcType=TIMESTAMP}, #{glyNo,jdbcType=NVARCHAR}, #{roleCode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertBatch" parameterType="com.weds.edmj.entity.GateLevelRealEntity">
    insert into
    MJ_GATE_LEVEL_REAL
    (Gate_bh,FX,lx,rule_no,sj,gly_no)
    values
    <foreach collection="gateList" index="index" item="item" separator=",">
      (#{item},#{fx},#{lx},#{ruleNo},#{sj},#{glyNo})
    </foreach>
  </insert>
  <insert id="insertDepBatch" parameterType="com.weds.edmj.entity.GateLevelRealEntity">
   insert into MJ_GATE_LEVEL_real(gate_bh,fx,lx,dep_serial,rule_no,sj,gly_no)
   select a.bh,#{fx},#{lx},b.dep_serial,#{ruleNo},#{sj},#{glyNo}
    from (select bh from st_door_real where bh in
      <foreach collection="gateList" close=")" open="(" separator="," item="item">
        #{item, jdbcType=INTEGER}
      </foreach>
    )a
	join (select dep_serial from dt_dep where dep_serial in
    <foreach collection="departmentList" close=")" open="(" separator="," item="item">
      #{item, jdbcType=INTEGER}
    </foreach>
    ) b on 1=1
  </insert>
  <insert id="insertRoleBatch" parameterType="com.weds.edmj.entity.GateLevelRealEntity">
    insert into MJ_GATE_LEVEL_real(gate_bh,fx,lx,role_code,rule_no,sj,gly_no)
    select a.bh,#{fx},#{lx},b.tt_order,#{ruleNo},#{sj},#{glyNo}
    from (select bh from st_door_real where bh in
    <foreach collection="gateList" close=")" open="(" separator="," item="item">
      #{item, jdbcType=INTEGER}
    </foreach>
    )a
    join (select tt_order from tt_role where tt_order in
    <foreach collection="roleList" close=")" open="(" separator="," item="item">
      #{item, jdbcType=INTEGER}
    </foreach>
    ) b on 1=1
  </insert>
  <insert id="insertSelective" parameterType="com.weds.edmj.entity.GateLevelRealEntity">
    insert into MJ_GATE_LEVEL_REAL
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="xh != null">
        xh,
      </if>
      <if test="gateBh != null">
        Gate_bh,
      </if>
      <if test="fx != null">
        FX,
      </if>
      <if test="lx != null">
        lx,
      </if>
      <if test="depSerial != null">
        dep_serial,
      </if>
      <if test="ruleNo != null">
        rule_no,
      </if>
      <if test="sj != null">
        sj,
      </if>
      <if test="glyNo != null">
        gly_no,
      </if>
      <if test="roleCode != null">
        role_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="xh != null">
        #{xh,jdbcType=INTEGER},
      </if>
      <if test="gateBh != null">
        #{gateBh,jdbcType=CHAR},
      </if>
      <if test="fx != null">
        #{fx,jdbcType=INTEGER},
      </if>
      <if test="lx != null">
        #{lx,jdbcType=INTEGER},
      </if>
      <if test="depSerial != null">
        #{depSerial,jdbcType=INTEGER},
      </if>
      <if test="ruleNo != null">
        #{ruleNo,jdbcType=INTEGER},
      </if>
      <if test="sj != null">
        #{sj,jdbcType=TIMESTAMP},
      </if>
      <if test="glyNo != null">
        #{glyNo,jdbcType=NVARCHAR},
      </if>
      <if test="roleCode != null">
        #{roleCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.weds.edmj.entity.GateLevelRealEntity">
    update MJ_GATE_LEVEL_REAL
    <set>
      <if test="gateBh != null">
        Gate_bh = #{gateBh,jdbcType=CHAR},
      </if>
      <if test="fx != null">
        FX = #{fx,jdbcType=INTEGER},
      </if>
      <if test="lx != null">
        lx = #{lx,jdbcType=INTEGER},
      </if>
      <if test="depSerial != null">
        dep_serial = #{depSerial,jdbcType=INTEGER},
      </if>
      <if test="ruleNo != null">
        rule_no = #{ruleNo,jdbcType=INTEGER},
      </if>
      <if test="sj != null">
        sj = #{sj,jdbcType=TIMESTAMP},
      </if>
      <if test="glyNo != null">
        gly_no = #{glyNo,jdbcType=NVARCHAR},
      </if>
      <if test="roleCode != null">
        role_code = #{roleCode,jdbcType=VARCHAR},
      </if>
    </set>
    where xh = #{xh,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.weds.edmj.entity.GateLevelRealEntity">
    update MJ_GATE_LEVEL_REAL
    set Gate_bh = #{gateBh,jdbcType=CHAR},
      FX = #{fx,jdbcType=INTEGER},
      lx = #{lx,jdbcType=INTEGER},
      dep_serial = #{depSerial,jdbcType=INTEGER},
      rule_no = #{ruleNo,jdbcType=INTEGER},
      sj = #{sj,jdbcType=TIMESTAMP},
      gly_no = #{glyNo,jdbcType=NVARCHAR},
      role_code = #{roleCode,jdbcType=VARCHAR}
    where xh = #{xh,jdbcType=INTEGER}
  </update>
  <select id="selectListByEntity" parameterType="com.weds.edmj.entity.GateLevelRealEntity" resultMap="BaseResultMap">
    select
    a.xh,b.door_name,a.lx,case a.lx when 1 then c.dep_name when 2 then m.tt_name else '' end as dep_name,d.rule_name
    from MJ_GATE_LEVEL_real a
    inner join st_door_real b on a.gate_bh=b.bh
    inner join dt_gate_real e on b.bh=e.gate_bh
    left join dt_dep c on c.dep_serial=a.dep_serial and a.lx=1
    left join tt_role m on m.tt_order=a.role_code and a.lx=2
    inner join mj_rule_real d on a.rule_no=d.rule_no
    <where>
      (a.fx=0 or a.fx=3)
      <if test="depList != null and depList.size() != 0">
        and e.acdep_serial in
        <foreach collection="depList" close=")" open="(" separator="," item="item">
          #{item, jdbcType=INTEGER}
        </foreach>
      </if>
      <if test="gateList != null and gateList.size() != 0">
        and a.gate_bh in
        <foreach collection="gateList" close=")" open="(" separator="," item="item">
          #{item, jdbcType=INTEGER}
        </foreach>
      </if>
      <if test="keys != null">
        <bind name="keysLike" value="'%'+keys+'%'"/>
        and (b.door_name like #{keysLike}
        or c.dep_name like #{keysLike}
        or m.tt_name like #{keysLike}
        or d.rule_name like #{keysLike})
      </if>
    </where>
  </select>
  <select id="selectOtherAuth" parameterType="com.weds.edmj.entity.GateLevelRealEntity" resultType="java.lang.Integer">
    SELECT count(1) from
    MJ_GATE_LEVEL_real a
    inner join dt_gate_real e on e.gate_bh=a.gate_bh
    <where>
      <if test="lx==0">
        and (a.lx=1 or a.lx=2)
      </if>
      <if test="lx==1">
        and (a.lx=0 or a.lx=2)
      </if>
      <if test="lx==2">
        and (a.lx=0 or a.lx=1)
      </if>
      <if test="depList != null and depList.size() != 0">
        and e.acdep_serial in
        <foreach collection="depList" close=")" open="(" separator="," item="item">
          #{item, jdbcType=INTEGER}
        </foreach>
      </if>
      <if test="gateList != null and gateList.size() != 0">
        and a.gate_bh in
        <foreach collection="gateList" close=")" open="(" separator="," item="item">
          #{item, jdbcType=INTEGER}
        </foreach>
      </if>
    </where>
  </select>
  <delete id="deleteBatchByKeys" parameterType="List">
    delete from
    MJ_GATE_LEVEL_REAL
    where (xh) in
    <foreach close=")" collection="list" index="index" item="item" open="(" separator=",">
      (#{item.xh})
    </foreach>
  </delete>
  <insert id="insertFullUpdate0" parameterType="List">
    insert into jreal_update_0(jdev_bh,jdodata)
    select distinct dev_serial,1073741824 from st_doorfx_real where  fx=0
    and gate_bh in
    ( SELECT gate_bh from MJ_GATE_LEVEL_REAL where xh in
    <foreach close=")" collection="list" index="index" item="item" open="(" separator=",">
      #{item.xh}
    </foreach>
    )
  </insert>
  <insert id="insertFullUpdate1" parameterType="List">
    insert into jreal_update_1(jdev_bh,jdodata)
    select distinct dev_serial,1073741824 from st_doorfx_real where  fx=0
    and gate_bh in
    ( SELECT gate_bh from MJ_GATE_LEVEL_REAL where xh in
    <foreach close=")" collection="list" index="index" item="item" open="(" separator=",">
      #{item.xh}
    </foreach>
    )
  </insert>
</mapper>