<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weds.edmj.mapper.WtMjMobileMapper">
    <resultMap id="BaseResultMap" type="com.weds.edmj.entity.WtMjMobileEntity">
        <id column="xh" jdbcType="INTEGER" property="xh"/>
        <result column="user_serial" jdbcType="BIGINT" property="userSerial"/>
        <result column="lx" jdbcType="INTEGER" property="lx"/>
        <result column="gate_bh" jdbcType="CHAR" property="gateBh"/>
        <result column="sj" jdbcType="TIMESTAMP" property="sj"/>
        <result column="gly_no" jdbcType="NVARCHAR" property="glyNo"/>
        <result column="gate_order" jdbcType="INTEGER" property="gateOrder"/>

        <result column="user_no" jdbcType="VARCHAR" property="userNo"/>
        <result column="user_lname" jdbcType="VARCHAR" property="userLname"/>
        <result column="user_depname" jdbcType="VARCHAR" property="userDepname"/>
        <result column="door_name" jdbcType="VARCHAR" property="doorName"/>
    </resultMap>
    <sql id="Base_Column_List">
        xh, user_serial, lx, gate_bh, sj, gly_no, gate_order
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from WT_mj_mobile
        where xh = #{xh,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from WT_mj_mobile
        where xh = #{xh,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.weds.edmj.entity.WtMjMobileEntity">
        <selectKey keyProperty="xh" order="AFTER" resultType="java.lang.Integer">
            SELECT SCOPE_IDENTITY()
        </selectKey>
        insert into WT_mj_mobile (user_serial, lx, gate_bh,
        sj, gly_no, gate_order
        )
        values (#{userSerial,jdbcType=BIGINT}, #{lx,jdbcType=INTEGER}, #{gateBh,jdbcType=CHAR},
        #{sj,jdbcType=TIMESTAMP}, #{glyNo,jdbcType=NVARCHAR}, #{gateOrder,jdbcType=INTEGER}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.weds.edmj.entity.WtMjMobileEntity">
        <selectKey keyProperty="xh" order="AFTER" resultType="java.lang.Integer">
            SELECT SCOPE_IDENTITY()
        </selectKey>
        insert into WT_mj_mobile
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userSerial != null">
                user_serial,
            </if>
            <if test="lx != null">
                lx,
            </if>
            <if test="gateBh != null">
                gate_bh,
            </if>
            <if test="sj != null">
                sj,
            </if>
            <if test="glyNo != null">
                gly_no,
            </if>
            <if test="gateOrder != null">
                gate_order,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userSerial != null">
                #{userSerial,jdbcType=BIGINT},
            </if>
            <if test="lx != null">
                #{lx,jdbcType=INTEGER},
            </if>
            <if test="gateBh != null">
                #{gateBh,jdbcType=CHAR},
            </if>
            <if test="sj != null">
                #{sj,jdbcType=TIMESTAMP},
            </if>
            <if test="glyNo != null">
                #{glyNo,jdbcType=NVARCHAR},
            </if>
            <if test="gateOrder != null">
                #{gateOrder,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.weds.edmj.entity.WtMjMobileEntity">
        update WT_mj_mobile
        <set>
            <if test="userSerial != null">
                user_serial = #{userSerial,jdbcType=BIGINT},
            </if>
            <if test="lx != null">
                lx = #{lx,jdbcType=INTEGER},
            </if>
            <if test="gateBh != null">
                gate_bh = #{gateBh,jdbcType=CHAR},
            </if>
            <if test="sj != null">
                sj = #{sj,jdbcType=TIMESTAMP},
            </if>
            <if test="glyNo != null">
                gly_no = #{glyNo,jdbcType=NVARCHAR},
            </if>
            <if test="gateOrder != null">
                gate_order = #{gateOrder,jdbcType=INTEGER},
            </if>
        </set>
        where xh = #{xh,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.weds.edmj.entity.WtMjMobileEntity">
        update WT_mj_mobile
        set user_serial = #{userSerial,jdbcType=BIGINT},
            lx          = #{lx,jdbcType=INTEGER},
            gate_bh     = #{gateBh,jdbcType=CHAR},
            sj          = #{sj,jdbcType=TIMESTAMP},
            gly_no      = #{glyNo,jdbcType=NVARCHAR},
            gate_order  = #{gateOrder,jdbcType=INTEGER}
        where xh = #{xh,jdbcType=INTEGER}
    </update>
    <select id="selectListByEntity" parameterType="com.weds.edmj.entity.WtMjMobileEntity" resultMap="BaseResultMap">
        select t1.xh, t2.user_no, t2.user_lname, t2.user_depname, t3.door_name
        from WT_mj_mobile t1 join dt_user t2 on t1.user_serial = t2.user_serial
        <![CDATA[
        and t2.user_type < 51
        ]]>
        join st_door_real t3 on t1.gate_bh = t3.bh
        <where>
            <if test="userList != null">
                and t1.user_serial in
                <foreach collection="userList" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="deptList != null">
                and t2.user_dep in
                <foreach collection="deptList" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>

            <if test="xh != null">
                and t1.xh = #{xh,jdbcType=INTEGER}
            </if>
            <if test="userSerial != null">
                and t1.user_serial = #{userSerial,jdbcType=BIGINT}
            </if>
            <if test="lx != null">
                and t1.lx = #{lx,jdbcType=INTEGER}
            </if>
            <if test="gateBh != null">
                <bind name="gateBhLike" value="'%'+gateBh+'%'"/>
                and t1.gate_bh like #{gateBhLike}
                <!--and gate_bh = #{gateBh,jdbcType=CHAR}-->
            </if>
            <if test="sj != null">
                and t1.sj = #{sj,jdbcType=TIMESTAMP}
            </if>
            <if test="glyNo != null">
                <bind name="glyNoLike" value="'%'+glyNo+'%'"/>
                and t1.gly_no like #{glyNoLike}
                <!--and gly_no = #{glyNo,jdbcType=NVARCHAR}-->
            </if>
            <if test="gateOrder != null">
                and t1.gate_order = #{gateOrder,jdbcType=INTEGER}
            </if>
            <if test="keys != null">
                <bind name="keysLike" value="'%'+keys+'%'"/>
                and (t2.user_no like #{keysLike} or
                t2.user_lname like #{keysLike} or
                t2.user_depname like #{keysLike} or
                t3.door_name like #{keysLike})
            </if>
        </where>
    </select>
    <delete id="deleteBatchByKeys" parameterType="List">
        delete from
        WT_mj_mobile
        where (xh) in
        <foreach close=")" collection="list" index="index" item="item" open="(" separator=",">
            (#{item.xh})
        </foreach>
    </delete>
</mapper>