<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weds.edwx.mapper.AttendanceMapper">
    <resultMap id="BaseResultMap" type="com.weds.edwx.entity.AttendanceEntity">
        <result column="xh" jdbcType="VARCHAR" property="xh"/>
        <result column="user_serial" jdbcType="VARCHAR" property="userSerial"/>
        <result column="user_lname" jdbcType="VARCHAR" property="userName"/>
        <result column="check_progress" jdbcType="VARCHAR" property="checkProgress"/>
        <result column="user_depname" jdbcType="VARCHAR" property="userDepname"/>
        <result column="bh" jdbcType="VARCHAR" property="bh"/>
        <result column="mc" jdbcType="VARCHAR" property="mc"/>
        <result column="sbsj" jdbcType="TIMESTAMP" property="sbsj"/>
        <result column="xbsj" jdbcType="TIMESTAMP" property="xbsj"/>
        <result column="czrq" jdbcType="VARCHAR" property="czrq"/>
        <result column="bz" jdbcType="VARCHAR" property="bz"/>
        <result column="flag" jdbcType="INTEGER" property="flag"/>
        <result column="check_id" jdbcType="VARCHAR" property="checkId"/>
        <result column="img_path" jdbcType="VARCHAR" property="imgPath"/>
    </resultMap>

    <select id="selectUserDep" resultType="java.lang.String">
        select user_dep from dt_user where user_serial = #{userSerial}
    </select>
    
    <select id="selectUserRole" resultType="java.lang.String">
        select len(dep_no)/2 as dep_cust from dt_user where user_serial = #{userSerial}
    </select>

    <select id="selectLeaveShjb" resultType="java.lang.Integer">
        select shjb from kt_qingj_more where waich_xh = #{xh}
    </select>

    <select id="findLrJl" resultType="java.lang.Integer">
        select count(*) from  lr_jl_more where user_serial = #{userSerial} and (sbsj = #{sbsj} or xbsj = #{xbsj})
    </select>

    <insert id="insertAttendance" parameterType="com.weds.edwx.entity.AttendanceParamEntity">
        insert into lr_jl_more(Xh,user_serial,sbsj,xbsj,bh,bz,fx,gly_no,sj,img_path)
        select #{xh},#{userSerial},#{sbsj},#{xbsj},#{bh},#{bz},0,user_lname,GETDATE(),#{imgPath} from dt_user where user_serial = #{userSerial};
        insert into kt_qingj_more(waich_xh,check_progress,check_pp,Shjb,Flag,qjlx)
        values(#{xh},#{checkProgress},#{checkPp},0,0,#{qjlx});
    </insert>

    <select id="selectAttendanceByXh" resultMap="BaseResultMap">
        <![CDATA[
            select b4.img_path,b4.xh,b4.user_serial,c4.user_lname,c4.user_depname,d4.mc,b4.sbsj as sbsj,b4.xbsj as xbsj,LEFT(CONVERT(VARCHAR(20),b4.sj,20),16) as czrq,a4.flag,a4.check_progress,b4.bz,a4.check_id,4 as type,b4.bh
            from kt_qingj_more a4 inner join lr_jl_more b4 on b4.xh=a4.waich_xh inner join dt_user c4 on c4.user_serial=b4.user_serial inner join kt_leave_more d4 on b4.bh=d4.bh
            where a4.waich_xh=#{xh}
            union all
            select b4.img_path,b4.xh,b4.user_serial,c4.user_lname,c4.user_depname,d4.mc,b4.kssj as sbsj,b4.jssj as xbsj,LEFT(CONVERT(VARCHAR(20),b4.sj,20),16) as czrq,a4.flag,a4.check_progress,b4.bz,a4.check_id,4 as type,b4.bh
            from kt_qingj_more a4 inner join kt_paiban_revoke b4 on b4.xh=a4.waich_xh inner join dt_user c4 on c4.user_serial=b4.user_serial inner join kt_leave_more d4 on b4.bh=d4.bh
            where a4.waich_xh=#{xh}
        ]]>
    </select>

    <select id="selectApprovalName" resultType="java.lang.String">
        select user_lname from dt_user where user_serial in (
            <foreach collection="userSerials.split(',')" item="item" index="index" separator=",">
                #{item}
            </foreach>
        )
    </select>

    <update id="updateKtQingjMore">
        update kt_qingj_more
        <set>
            check_pp = #{checkPp},
            check_progress = #{checkProgress},
            <if test="shjb != null and shjb != '' ">
                shjb = #{shjb},
            </if>
            <if test="flag != null and flag != '' ">
                flag = #{flag},
            </if>
            <if test="shenhe != '' and shenhe != null">
                shenhe${num} = #{shenhe},
            </if>
            <if test="shsj != '' and shsj != null ">
                shsj${num} = #{shsj},
            </if>
            <if test="shyj != '' and shyj != null ">
                shyj${num} = #{shyj},
            </if>
            <if test="reason != null and reason != ''">
                reason${num} = #{reason},
            </if>
        </set>
        where waich_xh = #{xh}
    </update>

    <insert id="insertKtPaibanRevoke">
        insert into kt_paiban_revoke(Xh,user_serial,bh,kqlx,kssj,jssj,fx,bz,gly_no,sj,img_path)
        select Xh,user_serial,bh,2,sbsj,xbsj,fx,bz,#{userSerial},getdate(),img_path from lr_jl_more where Xh = #{xh}
    </insert>

    <delete id="deleteLrJlMore">
        delete lr_jl_more where xh = #{xh}
    </delete>

    <insert id="insertLrJl">
        insert into lr_jl(user_serial,sj,bz,fx,gly_no,shenhe)
        select user_serial,sbsj,bz,0,gly_no,#{shenhe} from kt_qingj_more a1 inner join lr_jl_more b1 on a1.waich_xh=b1.xh
        where check_id=#{checkId} and sbsj is not null
        union all
        select user_serial,xbsj,bz,0,gly_no,#{shenhe} from kt_qingj_more a1 inner join lr_jl_more b1 on a1.waich_xh=b1.xh
        where check_id=#{checkId} and xbsj is not null
    </insert>


    <insert id="insertKtJl">
        insert into kt_jl(user_serial,sj,fx,gly_no,shenhe)
        select user_serial,sbsj,0,gly_no,0 from kt_qingj_more a1 inner join lr_jl_more b1 on a1.waich_xh=b1.xh
        where check_id=#{checkId} and sbsj is not null
        union all
        select user_serial,xbsj,0,gly_no,0 from kt_qingj_more a1 inner join lr_jl_more b1 on a1.waich_xh=b1.xh
        where check_id=#{checkId} and xbsj is not null
    </insert>

    <select id="selectTime" resultType="com.weds.edwx.entity.AttendanceEntity">
        select CONVERT(varchar(100), sbsj, 120) sbsj,CONVERT(varchar(100), xbsj, 120) xbsj from lr_jl_more where xh = #{xh}
    </select>

    <update id="updateLrJlMore">
        update lr_jl_more  SET shenhe = #{userName} WHERE Xh = #{xh}
    </update>
</mapper>