<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weds.edwx.mapper.EdDineAddressMapper">
    <resultMap id="BaseResultMap" type="com.weds.edwx.entity.EdDineAddressEntity">
        <id column="address_id" jdbcType="VARCHAR" property="addressId"/>
        <result column="address_name" jdbcType="VARCHAR" property="addressName"/>
        <result column="start_date" jdbcType="VARCHAR" property="startDate"/>
        <result column="end_date" jdbcType="VARCHAR" property="endDate"/>
        <result column="use_flag" jdbcType="VARCHAR" property="useFlag"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="spare_col1" jdbcType="VARCHAR" property="spareCol1"/>
        <result column="spare_col2" jdbcType="VARCHAR" property="spareCol2"/>
        <result column="spare_col3" jdbcType="VARCHAR" property="spareCol3"/>
        <result column="spare_col4" jdbcType="VARCHAR" property="spareCol4"/>
        <result column="spare_col5" jdbcType="VARCHAR" property="spareCol5"/>
        <result column="spare_col6" jdbcType="VARCHAR" property="spareCol6"/>
        <result column="ct_user" jdbcType="VARCHAR" property="ctUser"/>
        <result column="ct_date" jdbcType="TIMESTAMP" property="ctDate"/>
        <result column="lt_user" jdbcType="VARCHAR" property="ltUser"/>
        <result column="lt_date" jdbcType="TIMESTAMP" property="ltDate"/>
    </resultMap>
    <sql id="Base_Column_List">
        address_id, address_name, start_date, end_date, use_flag, remark, spare_col1, spare_col2,
                    spare_col3, spare_col4, spare_col5, spare_col6, ct_user, ct_date, lt_user, lt_date
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ed_dine_address
        where address_id = #{addressId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from ed_dine_address
        where address_id = #{addressId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.weds.edwx.entity.EdDineAddressEntity">
        insert into ed_dine_address (address_id,
                                     address_name,
                                     start_date,
                                     end_date,
                                     use_flag,
                                     remark,
                                     spare_col1,
                                     spare_col2,
                                     spare_col3,
                                     spare_col4,
                                     spare_col5,
                                     spare_col6,
                                     ct_user,
                                     ct_date,
                                     lt_user,
                                     lt_date)
        values (#{addressId,jdbcType=VARCHAR},
                #{addressName,jdbcType=VARCHAR},
                #{startDate,jdbcType=VARCHAR},
                #{endDate,jdbcType=VARCHAR},
                #{useFlag,jdbcType=VARCHAR},
                #{remark,jdbcType=VARCHAR},
                #{spareCol1,jdbcType=VARCHAR},
                #{spareCol2,jdbcType=VARCHAR},
                #{spareCol3,jdbcType=VARCHAR},
                #{spareCol4,jdbcType=VARCHAR},
                #{spareCol5,jdbcType=VARCHAR},
                #{spareCol6,jdbcType=VARCHAR},
                #{ctUser,jdbcType=VARCHAR},
                #{ctDate,jdbcType=TIMESTAMP},
                #{ltUser,jdbcType=VARCHAR},
                #{ltDate,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.weds.edwx.entity.EdDineAddressEntity">
        insert into ed_dine_address
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="addressId != null">
                address_id,
            </if>
            <if test="addressName != null">
                address_name,
            </if>
            <if test="startDate != null">
                start_date,
            </if>
            <if test="endDate != null">
                end_date,
            </if>
            <if test="useFlag != null">
                use_flag,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="spareCol1 != null">
                spare_col1,
            </if>
            <if test="spareCol2 != null">
                spare_col2,
            </if>
            <if test="spareCol3 != null">
                spare_col3,
            </if>
            <if test="spareCol4 != null">
                spare_col4,
            </if>
            <if test="spareCol5 != null">
                spare_col5,
            </if>
            <if test="spareCol6 != null">
                spare_col6,
            </if>
            <if test="ctUser != null">
                ct_user,
            </if>
            <if test="ctDate != null">
                ct_date,
            </if>
            <if test="ltUser != null">
                lt_user,
            </if>
            <if test="ltDate != null">
                lt_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="addressId != null">
                #{addressId,jdbcType=VARCHAR},
            </if>
            <if test="addressName != null">
                #{addressName,jdbcType=VARCHAR},
            </if>
            <if test="startDate != null">
                #{startDate,jdbcType=VARCHAR},
            </if>
            <if test="endDate != null">
                #{endDate,jdbcType=VARCHAR},
            </if>
            <if test="useFlag != null">
                #{useFlag,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="spareCol1 != null">
                #{spareCol1,jdbcType=VARCHAR},
            </if>
            <if test="spareCol2 != null">
                #{spareCol2,jdbcType=VARCHAR},
            </if>
            <if test="spareCol3 != null">
                #{spareCol3,jdbcType=VARCHAR},
            </if>
            <if test="spareCol4 != null">
                #{spareCol4,jdbcType=VARCHAR},
            </if>
            <if test="spareCol5 != null">
                #{spareCol5,jdbcType=VARCHAR},
            </if>
            <if test="spareCol6 != null">
                #{spareCol6,jdbcType=VARCHAR},
            </if>
            <if test="ctUser != null">
                #{ctUser,jdbcType=VARCHAR},
            </if>
            <if test="ctDate != null">
                #{ctDate,jdbcType=TIMESTAMP},
            </if>
            <if test="ltUser != null">
                #{ltUser,jdbcType=VARCHAR},
            </if>
            <if test="ltDate != null">
                #{ltDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.weds.edwx.entity.EdDineAddressEntity">
        update ed_dine_address
        <set>
            <if test="addressName != null">
                address_name = #{addressName,jdbcType=VARCHAR},
            </if>
            <if test="startDate != null">
                start_date = #{startDate,jdbcType=VARCHAR},
            </if>
            <if test="endDate != null">
                end_date = #{endDate,jdbcType=VARCHAR},
            </if>
            <if test="useFlag != null">
                use_flag = #{useFlag,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="spareCol1 != null">
                spare_col1 = #{spareCol1,jdbcType=VARCHAR},
            </if>
            <if test="spareCol2 != null">
                spare_col2 = #{spareCol2,jdbcType=VARCHAR},
            </if>
            <if test="spareCol3 != null">
                spare_col3 = #{spareCol3,jdbcType=VARCHAR},
            </if>
            <if test="spareCol4 != null">
                spare_col4 = #{spareCol4,jdbcType=VARCHAR},
            </if>
            <if test="spareCol5 != null">
                spare_col5 = #{spareCol5,jdbcType=VARCHAR},
            </if>
            <if test="spareCol6 != null">
                spare_col6 = #{spareCol6,jdbcType=VARCHAR},
            </if>
            <if test="ctUser != null">
                ct_user = #{ctUser,jdbcType=VARCHAR},
            </if>
            <if test="ctDate != null">
                ct_date = #{ctDate,jdbcType=TIMESTAMP},
            </if>
            <if test="ltUser != null">
                lt_user = #{ltUser,jdbcType=VARCHAR},
            </if>
            <if test="ltDate != null">
                lt_date = #{ltDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where address_id = #{addressId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.weds.edwx.entity.EdDineAddressEntity">
        update ed_dine_address
        set address_name = #{addressName,jdbcType=VARCHAR},
            start_date   = #{startDate,jdbcType=VARCHAR},
            end_date     = #{endDate,jdbcType=VARCHAR},
            use_flag     = #{useFlag,jdbcType=VARCHAR},
            remark       = #{remark,jdbcType=VARCHAR},
            spare_col1   = #{spareCol1,jdbcType=VARCHAR},
            spare_col2   = #{spareCol2,jdbcType=VARCHAR},
            spare_col3   = #{spareCol3,jdbcType=VARCHAR},
            spare_col4   = #{spareCol4,jdbcType=VARCHAR},
            spare_col5   = #{spareCol5,jdbcType=VARCHAR},
            spare_col6   = #{spareCol6,jdbcType=VARCHAR},
            ct_user      = #{ctUser,jdbcType=VARCHAR},
            ct_date      = #{ctDate,jdbcType=TIMESTAMP},
            lt_user      = #{ltUser,jdbcType=VARCHAR},
            lt_date      = #{ltDate,jdbcType=TIMESTAMP}
        where address_id = #{addressId,jdbcType=VARCHAR}
    </update>
    <select id="selectListByEntity" parameterType="com.weds.edwx.entity.EdDineAddressEntity" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ed_dine_address
        <where>
            <if test="addressId != null">
                <bind name="addressIdLike" value="'%'+addressId+'%'"/>
                and address_id like #{addressIdLike}
                <!--and address_id = #{addressId,jdbcType=VARCHAR}-->
            </if>
            <if test="addressName != null">
                <bind name="addressNameLike" value="'%'+addressName+'%'"/>
                and address_name like #{addressNameLike}
                <!--and address_name = #{addressName,jdbcType=VARCHAR}-->
            </if>
            <if test="startDate != null">
                <bind name="startDateLike" value="'%'+startDate+'%'"/>
                and start_date like #{startDateLike}
                <!--and start_date = #{startDate,jdbcType=VARCHAR}-->
            </if>
            <if test="endDate != null">
                <bind name="endDateLike" value="'%'+endDate+'%'"/>
                and end_date like #{endDateLike}
                <!--and end_date = #{endDate,jdbcType=VARCHAR}-->
            </if>
            <if test="useFlag != null">
                <bind name="useFlagLike" value="'%'+useFlag+'%'"/>
                and use_flag like #{useFlagLike}
                <!--and use_flag = #{useFlag,jdbcType=VARCHAR}-->
            </if>
            <if test="remark != null">
                <bind name="remarkLike" value="'%'+remark+'%'"/>
                and remark like #{remarkLike}
                <!--and remark = #{remark,jdbcType=VARCHAR}-->
            </if>
            <if test="spareCol1 != null">
                <bind name="spareCol1Like" value="'%'+spareCol1+'%'"/>
                and spare_col1 like #{spareCol1Like}
                <!--and spare_col1 = #{spareCol1,jdbcType=VARCHAR}-->
            </if>
            <if test="spareCol2 != null">
                <bind name="spareCol2Like" value="'%'+spareCol2+'%'"/>
                and spare_col2 like #{spareCol2Like}
                <!--and spare_col2 = #{spareCol2,jdbcType=VARCHAR}-->
            </if>
            <if test="spareCol3 != null">
                <bind name="spareCol3Like" value="'%'+spareCol3+'%'"/>
                and spare_col3 like #{spareCol3Like}
                <!--and spare_col3 = #{spareCol3,jdbcType=VARCHAR}-->
            </if>
            <if test="spareCol4 != null">
                <bind name="spareCol4Like" value="'%'+spareCol4+'%'"/>
                and spare_col4 like #{spareCol4Like}
                <!--and spare_col4 = #{spareCol4,jdbcType=VARCHAR}-->
            </if>
            <if test="spareCol5 != null">
                <bind name="spareCol5Like" value="'%'+spareCol5+'%'"/>
                and spare_col5 like #{spareCol5Like}
                <!--and spare_col5 = #{spareCol5,jdbcType=VARCHAR}-->
            </if>
            <if test="spareCol6 != null">
                <bind name="spareCol6Like" value="'%'+spareCol6+'%'"/>
                and spare_col6 like #{spareCol6Like}
                <!--and spare_col6 = #{spareCol6,jdbcType=VARCHAR}-->
            </if>
            <if test="ctUser != null">
                <bind name="ctUserLike" value="'%'+ctUser+'%'"/>
                and ct_user like #{ctUserLike}
                <!--and ct_user = #{ctUser,jdbcType=VARCHAR}-->
            </if>
            <if test="ctDate != null">
                and ct_date = #{ctDate,jdbcType=TIMESTAMP}
            </if>
            <if test="ltUser != null">
                <bind name="ltUserLike" value="'%'+ltUser+'%'"/>
                and lt_user like #{ltUserLike}
                <!--and lt_user = #{ltUser,jdbcType=VARCHAR}-->
            </if>
            <if test="ltDate != null">
                and lt_date = #{ltDate,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>
    <select id="selectListByKeys" parameterType="String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ed_dine_address
        <where>
            <if test="keys != null">
                <bind name="keysLike" value="'%'+keys+'%'"/>
                or address_id like #{keysLike}
                or address_name like #{keysLike}
                or start_date like #{keysLike}
                or end_date like #{keysLike}
                or use_flag like #{keysLike}
                or remark like #{keysLike}
                or spare_col1 like #{keysLike}
                or spare_col2 like #{keysLike}
                or spare_col3 like #{keysLike}
                or spare_col4 like #{keysLike}
                or spare_col5 like #{keysLike}
                or spare_col6 like #{keysLike}
                or ct_user like #{keysLike}
                or ct_date == #{keys}
                or lt_user like #{keysLike}
                or lt_date == #{keys}
            </if>
        </where>
    </select>
    <delete id="deleteBatchByKeys" parameterType="List">
        delete from
        ed_dine_address
        where (address_id) in
        <foreach close=")" collection="list" index="index" item="item" open="(" separator=",">
            (#{item.addressId})
        </foreach>
    </delete>
</mapper>