<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weds.edwx.mapper.VisDoorKeeperAreaMapper">
    <resultMap id="BaseResultMap" type="com.weds.edwx.entity.VisDoorKeeperAreaEntity">
        <id column="user_no" jdbcType="VARCHAR" property="userNo"/>
        <id column="area_no" jdbcType="VARCHAR" property="areaNo"/>
        <result column="use_flag" jdbcType="VARCHAR" property="useFlag"/>
        <result column="spare_col1" jdbcType="VARCHAR" property="spareCol1"/>
        <result column="spare_col2" jdbcType="VARCHAR" property="spareCol2"/>
        <result column="spare_col3" jdbcType="VARCHAR" property="spareCol3"/>
        <result column="spare_col4" jdbcType="VARCHAR" property="spareCol4"/>
        <result column="spare_col5" jdbcType="VARCHAR" property="spareCol5"/>
        <result column="spare_col6" jdbcType="VARCHAR" property="spareCol6"/>
        <result column="ct_user" jdbcType="VARCHAR" property="ctUser"/>
        <result column="ct_date" jdbcType="TIMESTAMP" property="ctDate"/>
        <result column="area_name" jdbcType="VARCHAR" property="areaName"/>
    </resultMap>
    <sql id="Base_Column_List">
        user_no, area_no, use_flag, spare_col1, spare_col2, spare_col3, spare_col4, spare_col5,
                 spare_col6, ct_user, ct_date
    </sql>
    <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from vis_door_keeper_area
        where user_no = #{userNo,jdbcType=VARCHAR}
        and area_no = #{areaNo,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="map">
        delete from vis_door_keeper_area
        where user_no = #{userNo,jdbcType=VARCHAR}
          and area_no = #{areaNo,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.weds.edwx.entity.VisDoorKeeperAreaEntity">
        insert into vis_door_keeper_area (user_no,
                                          area_no,
                                          use_flag,
                                          spare_col1,
                                          spare_col2,
                                          spare_col3,
                                          spare_col4,
                                          spare_col5,
                                          spare_col6,
                                          ct_user,
                                          ct_date)
        values (#{userNo,jdbcType=VARCHAR},
                #{areaNo,jdbcType=VARCHAR},
                #{useFlag,jdbcType=VARCHAR},
                #{spareCol1,jdbcType=VARCHAR},
                #{spareCol2,jdbcType=VARCHAR},
                #{spareCol3,jdbcType=VARCHAR},
                #{spareCol4,jdbcType=VARCHAR},
                #{spareCol5,jdbcType=VARCHAR},
                #{spareCol6,jdbcType=VARCHAR},
                #{ctUser,jdbcType=VARCHAR},
                #{ctDate,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.weds.edwx.entity.VisDoorKeeperAreaEntity">
        insert into vis_door_keeper_area
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userNo != null">
                user_no,
            </if>
            <if test="areaNo != null">
                area_no,
            </if>
            <if test="useFlag != null">
                use_flag,
            </if>
            <if test="spareCol1 != null">
                spare_col1,
            </if>
            <if test="spareCol2 != null">
                spare_col2,
            </if>
            <if test="spareCol3 != null">
                spare_col3,
            </if>
            <if test="spareCol4 != null">
                spare_col4,
            </if>
            <if test="spareCol5 != null">
                spare_col5,
            </if>
            <if test="spareCol6 != null">
                spare_col6,
            </if>
            <if test="ctUser != null">
                ct_user,
            </if>
            <if test="ctDate != null">
                ct_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userNo != null">
                #{userNo,jdbcType=VARCHAR},
            </if>
            <if test="areaNo != null">
                #{areaNo,jdbcType=VARCHAR},
            </if>
            <if test="useFlag != null">
                #{useFlag,jdbcType=VARCHAR},
            </if>
            <if test="spareCol1 != null">
                #{spareCol1,jdbcType=VARCHAR},
            </if>
            <if test="spareCol2 != null">
                #{spareCol2,jdbcType=VARCHAR},
            </if>
            <if test="spareCol3 != null">
                #{spareCol3,jdbcType=VARCHAR},
            </if>
            <if test="spareCol4 != null">
                #{spareCol4,jdbcType=VARCHAR},
            </if>
            <if test="spareCol5 != null">
                #{spareCol5,jdbcType=VARCHAR},
            </if>
            <if test="spareCol6 != null">
                #{spareCol6,jdbcType=VARCHAR},
            </if>
            <if test="ctUser != null">
                #{ctUser,jdbcType=VARCHAR},
            </if>
            <if test="ctDate != null">
                #{ctDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.weds.edwx.entity.VisDoorKeeperAreaEntity">
        update vis_door_keeper_area
        <set>
            <if test="useFlag != null">
                use_flag = #{useFlag,jdbcType=VARCHAR},
            </if>
            <if test="spareCol1 != null">
                spare_col1 = #{spareCol1,jdbcType=VARCHAR},
            </if>
            <if test="spareCol2 != null">
                spare_col2 = #{spareCol2,jdbcType=VARCHAR},
            </if>
            <if test="spareCol3 != null">
                spare_col3 = #{spareCol3,jdbcType=VARCHAR},
            </if>
            <if test="spareCol4 != null">
                spare_col4 = #{spareCol4,jdbcType=VARCHAR},
            </if>
            <if test="spareCol5 != null">
                spare_col5 = #{spareCol5,jdbcType=VARCHAR},
            </if>
            <if test="spareCol6 != null">
                spare_col6 = #{spareCol6,jdbcType=VARCHAR},
            </if>
            <if test="ctUser != null">
                ct_user = #{ctUser,jdbcType=VARCHAR},
            </if>
            <if test="ctDate != null">
                ct_date = #{ctDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where user_no = #{userNo,jdbcType=VARCHAR}
        and area_no = #{areaNo,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.weds.edwx.entity.VisDoorKeeperAreaEntity">
        update vis_door_keeper_area
        set use_flag   = #{useFlag,jdbcType=VARCHAR},
            spare_col1 = #{spareCol1,jdbcType=VARCHAR},
            spare_col2 = #{spareCol2,jdbcType=VARCHAR},
            spare_col3 = #{spareCol3,jdbcType=VARCHAR},
            spare_col4 = #{spareCol4,jdbcType=VARCHAR},
            spare_col5 = #{spareCol5,jdbcType=VARCHAR},
            spare_col6 = #{spareCol6,jdbcType=VARCHAR},
            ct_user    = #{ctUser,jdbcType=VARCHAR},
            ct_date    = #{ctDate,jdbcType=TIMESTAMP}
        where user_no = #{userNo,jdbcType=VARCHAR}
          and area_no = #{areaNo,jdbcType=VARCHAR}
    </update>
    <select id="selectListByEntity" parameterType="com.weds.edwx.entity.VisDoorKeeperAreaEntity"
            resultMap="BaseResultMap">
        select
        t1.*, t2.name as area_name
        from vis_door_keeper_area t1 join Vis_Region t2 on t1.area_no = t2.bh
        <where>
            <if test="userNo != null">
                and user_no = #{userNo,jdbcType=VARCHAR}
            </if>
            <if test="areaNo != null">
                <bind name="areaNoLike" value="'%'+areaNo+'%'"/>
                and area_no like #{areaNoLike}
                <!--and area_no = #{areaNo,jdbcType=VARCHAR}-->
            </if>
            <if test="useFlag != null">
                <bind name="useFlagLike" value="'%'+useFlag+'%'"/>
                and use_flag like #{useFlagLike}
                <!--and use_flag = #{useFlag,jdbcType=VARCHAR}-->
            </if>
            <if test="spareCol1 != null">
                <bind name="spareCol1Like" value="'%'+spareCol1+'%'"/>
                and spare_col1 like #{spareCol1Like}
                <!--and spare_col1 = #{spareCol1,jdbcType=VARCHAR}-->
            </if>
            <if test="spareCol2 != null">
                <bind name="spareCol2Like" value="'%'+spareCol2+'%'"/>
                and spare_col2 like #{spareCol2Like}
                <!--and spare_col2 = #{spareCol2,jdbcType=VARCHAR}-->
            </if>
            <if test="spareCol3 != null">
                <bind name="spareCol3Like" value="'%'+spareCol3+'%'"/>
                and spare_col3 like #{spareCol3Like}
                <!--and spare_col3 = #{spareCol3,jdbcType=VARCHAR}-->
            </if>
            <if test="spareCol4 != null">
                <bind name="spareCol4Like" value="'%'+spareCol4+'%'"/>
                and spare_col4 like #{spareCol4Like}
                <!--and spare_col4 = #{spareCol4,jdbcType=VARCHAR}-->
            </if>
            <if test="spareCol5 != null">
                <bind name="spareCol5Like" value="'%'+spareCol5+'%'"/>
                and spare_col5 like #{spareCol5Like}
                <!--and spare_col5 = #{spareCol5,jdbcType=VARCHAR}-->
            </if>
            <if test="spareCol6 != null">
                <bind name="spareCol6Like" value="'%'+spareCol6+'%'"/>
                and spare_col6 like #{spareCol6Like}
                <!--and spare_col6 = #{spareCol6,jdbcType=VARCHAR}-->
            </if>
            <if test="ctUser != null">
                <bind name="ctUserLike" value="'%'+ctUser+'%'"/>
                and ct_user like #{ctUserLike}
                <!--and ct_user = #{ctUser,jdbcType=VARCHAR}-->
            </if>
            <if test="ctDate != null">
                and ct_date = #{ctDate,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>
    <select id="selectAllListByEntity" parameterType="com.weds.edwx.entity.VisDoorKeeperAreaEntity"
            resultMap="BaseResultMap">
        select t2.bh as area_no, t2.name as area_name, case when t1.user_no is null then '0' else '1' end as use_flag
        from Vis_Region t2
                 left join vis_door_keeper_area t1 on t2.bh = t1.area_no and t1.user_no = #{userNo,jdbcType=VARCHAR}
    </select>
    <select id="selectListByKeys" parameterType="String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from vis_door_keeper_area
        <where>
            <if test="keys != null">
                <bind name="keysLike" value="'%'+keys+'%'"/>
                or user_no like #{keysLike}
                or area_no like #{keysLike}
                or use_flag like #{keysLike}
                or spare_col1 like #{keysLike}
                or spare_col2 like #{keysLike}
                or spare_col3 like #{keysLike}
                or spare_col4 like #{keysLike}
                or spare_col5 like #{keysLike}
                or spare_col6 like #{keysLike}
                or ct_user like #{keysLike}
                or ct_date == #{keys}
            </if>
        </where>
    </select>
    <delete id="deleteBatchByKeys" parameterType="List">
        delete from
        vis_door_keeper_area
        where (user_no,area_no) in
        <foreach close=")" collection="list" index="index" item="item" open="(" separator=",">
            (#{item.userNo},#{item.areaNo})
        </foreach>
    </delete>
</mapper>