<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weds.edwx.mapper.VisUserStateMapper">
    <resultMap id="BaseResultMap" type="com.weds.edwx.entity.VisUserStateEntity">
        <id column="user_serial" jdbcType="BIGINT" property="userSerial"/>
        <result column="xh" jdbcType="INTEGER" property="xh"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
        <result column="lx" jdbcType="INTEGER" property="lx"/>
        <result column="dep_serial" jdbcType="INTEGER" property="depSerial"/>
        <result column="vis_bz" jdbcType="NVARCHAR" property="visBz"/>
        <result column="sj" jdbcType="TIMESTAMP" property="sj"/>
        <result column="gly_no" jdbcType="NVARCHAR" property="glyNo"/>
    </resultMap>
    <sql id="Base_Column_List">
        user_serial, xh, state, lx, dep_serial, vis_bz, sj, gly_no
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from vis_user_state
        where user_serial = #{userSerial,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from vis_user_state
        where user_serial = #{userSerial,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.weds.edwx.entity.VisUserStateEntity">
        <selectKey keyProperty="xh" order="AFTER" resultType="java.lang.Integer">
            SELECT SCOPE_IDENTITY()
        </selectKey>
        insert into vis_user_state (user_serial, state, lx,
        dep_serial, vis_bz, sj,
        gly_no)
        values (#{userSerial,jdbcType=BIGINT}, #{state,jdbcType=INTEGER}, #{lx,jdbcType=INTEGER},
        #{depSerial,jdbcType=INTEGER}, #{visBz,jdbcType=NVARCHAR}, #{sj,jdbcType=TIMESTAMP},
        #{glyNo,jdbcType=NVARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.weds.edwx.entity.VisUserStateEntity">
        <selectKey keyProperty="xh" order="AFTER" resultType="java.lang.Integer">
            SELECT SCOPE_IDENTITY()
        </selectKey>
        insert into vis_user_state
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userSerial != null">
                user_serial,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="lx != null">
                lx,
            </if>
            <if test="depSerial != null">
                dep_serial,
            </if>
            <if test="visBz != null">
                vis_bz,
            </if>
            <if test="sj != null">
                sj,
            </if>
            <if test="glyNo != null">
                gly_no,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userSerial != null">
                #{userSerial,jdbcType=BIGINT},
            </if>
            <if test="state != null">
                #{state,jdbcType=INTEGER},
            </if>
            <if test="lx != null">
                #{lx,jdbcType=INTEGER},
            </if>
            <if test="depSerial != null">
                #{depSerial,jdbcType=INTEGER},
            </if>
            <if test="visBz != null">
                #{visBz,jdbcType=NVARCHAR},
            </if>
            <if test="sj != null">
                #{sj,jdbcType=TIMESTAMP},
            </if>
            <if test="glyNo != null">
                #{glyNo,jdbcType=NVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.weds.edwx.entity.VisUserStateEntity">
        update vis_user_state
        <set>
            <if test="xh != null">
                xh = #{xh,jdbcType=INTEGER},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=INTEGER},
            </if>
            <if test="lx != null">
                lx = #{lx,jdbcType=INTEGER},
            </if>
            <if test="depSerial != null">
                dep_serial = #{depSerial,jdbcType=INTEGER},
            </if>
            <if test="visBz != null">
                vis_bz = #{visBz,jdbcType=NVARCHAR},
            </if>
            <if test="sj != null">
                sj = #{sj,jdbcType=TIMESTAMP},
            </if>
            <if test="glyNo != null">
                gly_no = #{glyNo,jdbcType=NVARCHAR},
            </if>
        </set>
        where user_serial = #{userSerial,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.weds.edwx.entity.VisUserStateEntity">
        update vis_user_state
        set xh         = #{xh,jdbcType=INTEGER},
            state      = #{state,jdbcType=INTEGER},
            lx         = #{lx,jdbcType=INTEGER},
            dep_serial = #{depSerial,jdbcType=INTEGER},
            vis_bz     = #{visBz,jdbcType=NVARCHAR},
            sj         = #{sj,jdbcType=TIMESTAMP},
            gly_no     = #{glyNo,jdbcType=NVARCHAR}
        where user_serial = #{userSerial,jdbcType=BIGINT}
    </update>
    <select id="selectListByEntity" parameterType="com.weds.edwx.entity.VisUserStateEntity" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from vis_user_state
        <where>
            <if test="userSerial != null">
                and user_serial = #{userSerial,jdbcType=BIGINT}
            </if>
            <if test="xh != null">
                and xh = #{xh,jdbcType=INTEGER}
            </if>
            <if test="state != null">
                and state = #{state,jdbcType=INTEGER}
            </if>
            <if test="lx != null">
                and lx = #{lx,jdbcType=INTEGER}
            </if>
            <if test="depSerial != null">
                and dep_serial = #{depSerial,jdbcType=INTEGER}
            </if>
            <if test="visBz != null">
                <bind name="visBzLike" value="'%'+visBz+'%'"/>
                and vis_bz like #{visBzLike}
                <!--and vis_bz = #{visBz,jdbcType=NVARCHAR}-->
            </if>
            <if test="sj != null">
                and sj = #{sj,jdbcType=TIMESTAMP}
            </if>
            <if test="glyNo != null">
                <bind name="glyNoLike" value="'%'+glyNo+'%'"/>
                and gly_no like #{glyNoLike}
                <!--and gly_no = #{glyNo,jdbcType=NVARCHAR}-->
            </if>
        </where>
    </select>
    <select id="selectListByKeys" parameterType="String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from vis_user_state
        <where>
            <if test="keys != null">
                <bind name="keysLike" value="'%'+keys+'%'"/>
                or vis_bz like #{keysLike}
                or gly_no like #{keysLike}
            </if>
        </where>
    </select>
    <delete id="deleteBatchByKeys" parameterType="List">
        delete from
        vis_user_state
        where (user_serial) in
        <foreach close=")" collection="list" index="index" item="item" open="(" separator=",">
            (#{item.userSerial})
        </foreach>
    </delete>
</mapper>