<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weds.edpf.core.mapper.DictInfoMapper">
    <resultMap id="BaseResultMap" type="com.weds.edpf.core.entity.DictInfoEntity">
        <id column="type_code" jdbcType="VARCHAR" property="typeCode"/>
        <id column="dic_code" jdbcType="VARCHAR" property="dicCode"/>
        <result column="dic_name" jdbcType="VARCHAR" property="dicName"/>
        <result column="dic_index" jdbcType="INTEGER" property="dicIndex"/>

        <result column="use_flag" jdbcType="VARCHAR" property="useFlag"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="spare_col1" jdbcType="VARCHAR" property="spareCol1"/>
        <result column="spare_col2" jdbcType="VARCHAR" property="spareCol2"/>
        <result column="spare_col3" jdbcType="VARCHAR" property="spareCol3"/>
        <result column="ct_user_id" jdbcType="VARCHAR" property="ctUserId"/>
        <result column="ct_date" jdbcType="TIMESTAMP" property="ctDate"/>
        <result column="lt_user_id" jdbcType="VARCHAR" property="ltUserId"/>
        <result column="lt_date" jdbcType="TIMESTAMP" property="ltDate"/>
    </resultMap>
    <sql id="Base_Column_List">
        type_code, dic_code, dic_name, dic_index, use_flag, remark, spare_col1, spare_col2,
                   spare_col3, ct_user_id, ct_date, lt_user_id, lt_date
    </sql>
    <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ed_dict_info
        where type_code = #{typeCode,jdbcType=VARCHAR}
        and dic_code = #{dicCode,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="map">
        delete from ed_dict_info
        where type_code = #{typeCode,jdbcType=VARCHAR}
          and dic_code = #{dicCode,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.weds.edpf.core.entity.DictInfoEntity">
        insert into ed_dict_info (type_code,
                                  dic_code,
                                  dic_name,
                                  dic_index,
                                  use_flag,
                                  remark,
                                  spare_col1,
                                  spare_col2,
                                  spare_col3,
                                  ct_user_id,
                                  ct_date,
                                  lt_user_id,
                                  lt_date)
        values (#{typeCode,jdbcType=VARCHAR},
                #{dicCode,jdbcType=VARCHAR},
                #{dicName,jdbcType=VARCHAR},
                #{dicIndex,jdbcType=INTEGER},
                #{useFlag,jdbcType=VARCHAR},
                #{remark,jdbcType=VARCHAR},
                #{spareCol1,jdbcType=VARCHAR},
                #{spareCol2,jdbcType=VARCHAR},
                #{spareCol3,jdbcType=VARCHAR},
                #{ctUserId,jdbcType=VARCHAR},
                #{ctDate,jdbcType=TIMESTAMP},
                #{ltUserId,jdbcType=VARCHAR},
                #{ltDate,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.weds.edpf.core.entity.DictInfoEntity">
        insert into ed_dict_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="typeCode != null">
                type_code,
            </if>
            <if test="dicCode != null">
                dic_code,
            </if>
            <if test="dicName != null">
                dic_name,
            </if>
            <if test="dicIndex != null">
                dic_index,
            </if>
            <if test="useFlag != null">
                use_flag,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="spareCol1 != null">
                spare_col1,
            </if>
            <if test="spareCol2 != null">
                spare_col2,
            </if>
            <if test="spareCol3 != null">
                spare_col3,
            </if>
            <if test="ctUserId != null">
                ct_user_id,
            </if>
            <if test="ctDate != null">
                ct_date,
            </if>
            <if test="ltUserId != null">
                lt_user_id,
            </if>
            <if test="ltDate != null">
                lt_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="typeCode != null">
                #{typeCode,jdbcType=VARCHAR},
            </if>
            <if test="dicCode != null">
                #{dicCode,jdbcType=VARCHAR},
            </if>
            <if test="dicName != null">
                #{dicName,jdbcType=VARCHAR},
            </if>
            <if test="dicIndex != null">
                #{dicIndex,jdbcType=INTEGER},
            </if>
            <if test="useFlag != null">
                #{useFlag,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="spareCol1 != null">
                #{spareCol1,jdbcType=VARCHAR},
            </if>
            <if test="spareCol2 != null">
                #{spareCol2,jdbcType=VARCHAR},
            </if>
            <if test="spareCol3 != null">
                #{spareCol3,jdbcType=VARCHAR},
            </if>
            <if test="ctUserId != null">
                #{ctUserId,jdbcType=VARCHAR},
            </if>
            <if test="ctDate != null">
                #{ctDate,jdbcType=TIMESTAMP},
            </if>
            <if test="ltUserId != null">
                #{ltUserId,jdbcType=VARCHAR},
            </if>
            <if test="ltDate != null">
                #{ltDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.weds.edpf.core.entity.DictInfoEntity">
        update ed_dict_info
        <set>
            <if test="dicName != null">
                dic_name = #{dicName,jdbcType=VARCHAR},
            </if>
            <if test="dicIndex != null">
                dic_index = #{dicIndex,jdbcType=INTEGER},
            </if>
            <if test="useFlag != null">
                use_flag = #{useFlag,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="spareCol1 != null">
                spare_col1 = #{spareCol1,jdbcType=VARCHAR},
            </if>
            <if test="spareCol2 != null">
                spare_col2 = #{spareCol2,jdbcType=VARCHAR},
            </if>
            <if test="spareCol3 != null">
                spare_col3 = #{spareCol3,jdbcType=VARCHAR},
            </if>
            <if test="ctUserId != null">
                ct_user_id = #{ctUserId,jdbcType=VARCHAR},
            </if>
            <if test="ctDate != null">
                ct_date = #{ctDate,jdbcType=TIMESTAMP},
            </if>
            <if test="ltUserId != null">
                lt_user_id = #{ltUserId,jdbcType=VARCHAR},
            </if>
            <if test="ltDate != null">
                lt_date = #{ltDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where type_code = #{typeCode,jdbcType=VARCHAR}
        and dic_code = #{dicCode,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.weds.edpf.core.entity.DictInfoEntity">
        update ed_dict_info
        set dic_name   = #{dicName,jdbcType=VARCHAR},
            dic_index  = #{dicIndex,jdbcType=INTEGER},
            use_flag   = #{useFlag,jdbcType=VARCHAR},
            remark     = #{remark,jdbcType=VARCHAR},
            spare_col1 = #{spareCol1,jdbcType=VARCHAR},
            spare_col2 = #{spareCol2,jdbcType=VARCHAR},
            spare_col3 = #{spareCol3,jdbcType=VARCHAR},
            ct_user_id = #{ctUserId,jdbcType=VARCHAR},
            ct_date    = #{ctDate,jdbcType=TIMESTAMP},
            lt_user_id = #{ltUserId,jdbcType=VARCHAR},
            lt_date    = #{ltDate,jdbcType=TIMESTAMP}
        where type_code = #{typeCode,jdbcType=VARCHAR}
          and dic_code = #{dicCode,jdbcType=VARCHAR}
    </update>
    <select id="selectListByEntity" parameterType="com.weds.edpf.core.entity.DictInfoEntity" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ed_dict_info
        <where>
            <if test="typeCode != null">
                <bind name="typeCodeLike" value="'%'+typeCode+'%'"/>
                and type_code like #{typeCodeLike}
                <!--and type_code = #{typeCode,jdbcType=VARCHAR}-->
            </if>
            <if test="dicCode != null">
                <bind name="dicCodeLike" value="'%'+dicCode+'%'"/>
                and dic_code like #{dicCodeLike}
                <!--and dic_code = #{dicCode,jdbcType=VARCHAR}-->
            </if>
            <if test="dicName != null">
                <bind name="dicNameLike" value="'%'+dicName+'%'"/>
                and dic_name like #{dicNameLike}
                <!--and dic_name = #{dicName,jdbcType=VARCHAR}-->
            </if>
            <if test="dicIndex != null">
                and dic_index = #{dicIndex,jdbcType=INTEGER}
            </if>
            <if test="useFlag != null">
                <bind name="useFlagLike" value="'%'+useFlag+'%'"/>
                and use_flag like #{useFlagLike}
                <!--and use_flag = #{useFlag,jdbcType=VARCHAR}-->
            </if>
            <if test="remark != null">
                <bind name="remarkLike" value="'%'+remark+'%'"/>
                and remark like #{remarkLike}
                <!--and remark = #{remark,jdbcType=VARCHAR}-->
            </if>
            <if test="spareCol1 != null">
                <bind name="spareCol1Like" value="'%'+spareCol1+'%'"/>
                and spare_col1 like #{spareCol1Like}
                <!--and spare_col1 = #{spareCol1,jdbcType=VARCHAR}-->
            </if>
            <if test="spareCol2 != null">
                <bind name="spareCol2Like" value="'%'+spareCol2+'%'"/>
                and spare_col2 like #{spareCol2Like}
                <!--and spare_col2 = #{spareCol2,jdbcType=VARCHAR}-->
            </if>
            <if test="spareCol3 != null">
                <bind name="spareCol3Like" value="'%'+spareCol3+'%'"/>
                and spare_col3 like #{spareCol3Like}
                <!--and spare_col3 = #{spareCol3,jdbcType=VARCHAR}-->
            </if>
            <if test="ctUserId != null">
                <bind name="ctUserIdLike" value="'%'+ctUserId+'%'"/>
                and ct_user_id like #{ctUserIdLike}
                <!--and ct_user_id = #{ctUserId,jdbcType=VARCHAR}-->
            </if>
            <if test="ctDate != null">
                and ct_date = #{ctDate,jdbcType=TIMESTAMP}
            </if>
            <if test="ltUserId != null">
                <bind name="ltUserIdLike" value="'%'+ltUserId+'%'"/>
                and lt_user_id like #{ltUserIdLike}
                <!--and lt_user_id = #{ltUserId,jdbcType=VARCHAR}-->
            </if>
            <if test="ltDate != null">
                and lt_date = #{ltDate,jdbcType=TIMESTAMP}
            </if>
        </where>
        order by type_code, dic_index
    </select>
    <select id="selectListByKeys" parameterType="String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ed_dict_info
        <where>
            <if test="keys != null">
                <bind name="keysLike" value="'%'+keys+'%'"/>
                or type_code like #{keysLike}
                or dic_code like #{keysLike}
                or dic_name like #{keysLike}
                or use_flag like #{keysLike}
                or remark like #{keysLike}
                or spare_col1 like #{keysLike}
                or spare_col2 like #{keysLike}
                or spare_col3 like #{keysLike}
                or ct_user_id like #{keysLike}
                or lt_user_id like #{keysLike}
            </if>
        </where>
    </select>
    <delete id="deleteBatchByKeys" parameterType="List">
        delete from
        ed_dict_info
        where (type_code,dic_code) in
        <foreach close=")" collection="list" index="index" item="item" open="(" separator=",">
            (#{item.typeCode},#{item.dicCode})
        </foreach>
    </delete>

    <select id="selectListByType" parameterType="List" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ed_dict_info
        where type_code in
        <foreach collection="typeCodes" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
        and use_flag = '1'
        order by type_code, dic_index
    </select>
</mapper>