<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weds.edpf.core.mapper.DtFaceMapper">
    <resultMap id="BaseResultMap" type="com.weds.edpf.core.entity.DtFaceEntity">
        <id column="xh" jdbcType="INTEGER" property="xh"/>
        <id column="user_serial" jdbcType="BIGINT" property="userSerial"/>
        <result column="lx" jdbcType="INTEGER" property="lx"/>
        <result column="gly_no" jdbcType="NVARCHAR" property="glyNo"/>
        <result column="face_name" jdbcType="NVARCHAR" property="faceName"/>
        <result column="face_type" jdbcType="INTEGER" property="faceType"/>
        <result column="face_path" jdbcType="NVARCHAR" property="facePath"/>
        <result column="sj" jdbcType="TIMESTAMP" property="sj"/>
    </resultMap>
    <sql id="Base_Column_List">
        xh, user_serial, lx, gly_no, face_name, face_type, face_path, sj
    </sql>
    <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from dt_face
        where user_serial = #{userSerial,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="map">
        delete from dt_face
        where user_serial = #{userSerial,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.weds.edpf.core.entity.DtFaceEntity">
        <selectKey keyProperty="xh" order="AFTER" resultType="java.lang.Integer">
            SELECT SCOPE_IDENTITY()
        </selectKey>
        insert into dt_face (user_serial, lx, gly_no,
        face_name, face_type, face_path,
        sj)
        values (#{userSerial,jdbcType=BIGINT}, #{lx,jdbcType=INTEGER}, #{glyNo,jdbcType=NVARCHAR},
        #{faceName,jdbcType=NVARCHAR}, #{faceType,jdbcType=INTEGER}, #{facePath,jdbcType=NVARCHAR},
        #{sj,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.weds.edpf.core.entity.DtFaceEntity">
        <selectKey keyProperty="xh" order="AFTER" resultType="java.lang.Integer">
            SELECT SCOPE_IDENTITY()
        </selectKey>
        insert into dt_face
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userSerial != null">
                user_serial,
            </if>
            <if test="lx != null">
                lx,
            </if>
            <if test="glyNo != null">
                gly_no,
            </if>
            <if test="faceName != null">
                face_name,
            </if>
            <if test="faceType != null">
                face_type,
            </if>
            <if test="facePath != null">
                face_path,
            </if>
            <if test="sj != null">
                sj,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userSerial != null">
                #{userSerial,jdbcType=BIGINT},
            </if>
            <if test="lx != null">
                #{lx,jdbcType=INTEGER},
            </if>
            <if test="glyNo != null">
                #{glyNo,jdbcType=NVARCHAR},
            </if>
            <if test="faceName != null">
                #{faceName,jdbcType=NVARCHAR},
            </if>
            <if test="faceType != null">
                #{faceType,jdbcType=INTEGER},
            </if>
            <if test="facePath != null">
                #{facePath,jdbcType=NVARCHAR},
            </if>
            <if test="sj != null">
                #{sj,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.weds.edpf.core.entity.DtFaceEntity">
        update dt_face
        <set>
            <if test="lx != null">
                lx = #{lx,jdbcType=INTEGER},
            </if>
            <if test="glyNo != null">
                gly_no = #{glyNo,jdbcType=NVARCHAR},
            </if>
            <if test="faceName != null">
                face_name = #{faceName,jdbcType=NVARCHAR},
            </if>
            <if test="faceType != null">
                face_type = #{faceType,jdbcType=INTEGER},
            </if>
            <if test="facePath != null">
                face_path = #{facePath,jdbcType=NVARCHAR},
            </if>
            <if test="sj != null">
                sj = #{sj,jdbcType=TIMESTAMP},
            </if>
        </set>
        where user_serial = #{userSerial,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.weds.edpf.core.entity.DtFaceEntity">
        update dt_face
        set lx        = #{lx,jdbcType=INTEGER},
            gly_no    = #{glyNo,jdbcType=NVARCHAR},
            face_name = #{faceName,jdbcType=NVARCHAR},
            face_type = #{faceType,jdbcType=INTEGER},
            face_path = #{facePath,jdbcType=NVARCHAR},
            sj        = #{sj,jdbcType=TIMESTAMP}
        where user_serial = #{userSerial,jdbcType=BIGINT}
    </update>
</mapper>